header {
  background-image: url("/Assets/header-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  position: relative;
  height: 85vh;
  h1 {
    position: relative;
    top: 52vh;
    z-index: 2;
  }

  .yellow-center,
  .image-container {
    display: inline-block;
  }

  .yellow-center {
    width: 45%;
    position: absolute;
    right: 0;
    bottom: -10rem;
    background-color: #fdfa69;
  }

  .image-container {
    position: relative;
    right: 0;
    width: 92.5%;
    margin-left: 7.5%;
    margin-top: 8%;
    margin-bottom: 8%;
    // width: 5%;
    // margin-left: 5%;
    // margin-top: 7.5%;
    // margin-bottom: 7.5%;
  }

  img {
    width: 100%;
  }

  // .yellow-center {
  //   width: auto;
  //   position: relative;
  //   bottom: 4rem;
  //   right: 0;
  //   display: flex;
  //   justify-content: flex-end;
  // }

  // .image-container {
  //   width: 45%;
  //   // max-height: 60vh;
  //   padding: 3rem 0 3rem 3rem;
  //   background-color: #fdfa69;
  //   position: relative;
  // }

  // img {
  //   width: 100%;
  //   // max-width: 500px;
  // }
}

.what {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12.5rem 0;

  .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  h2 {
    line-height: initial;
  }

  p {
    width: 80%;
  }
}

.featured {
  // height: 100vh;

  .grid {
    .wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .grid-item {
      padding: 2rem 0;
      width: 45%;
      display: flex;
      justify-content: space-between;
    }

    .icon {
      margin-right: 1rem;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      padding: 1rem;
      background-color: #4ceea7;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    i {
      font-size: 2rem;
    }

    h4 {
      margin: 0.5rem 0;
    }

    p {
      margin-top: 1rem;
    }
  }

  .banner {
    background-image: url("../../Assets/banner.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
  }

  .profile {
    padding: 5rem 0;
    .wrapper {
      display: flex;
    }

    .yellow {
      margin: 2.5rem;
      position: relative;
      background-color: #fdfa69;
    }

    .image-container {
      position: relative;
      right: 2.5rem;
      bottom: 2.5rem;
    }

    .text {
      margin-left: calc((400px - 304px) + (200px / 2) - 5rem);
    }
  }

  .image-gallery {
    padding: 0 0 5rem 0;
    .wrapper {
      display: flex;
      justify-content: space-between;
    }

    img {
      width: 100%;
    }
  }
}
