a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

audio,
canvas,
video {
  display: inline-block;
  max-width: 100%;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active,
a:hover {
  outline: 0;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

button,
input {
  line-height: normal;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
html,
input,
select,
textarea {
  color: #222;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

:root {
  --content-width: 1400px;
}

:root {
  --content-width: 1400px;
}

.index header {
  background-image: url("/Assets/header-image.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 85vh;
}

.index header h1 {
  position: relative;
  top: 52vh;
  z-index: 2;
}

.index header .yellow-center,
.index header .image-container {
  display: inline-block;
}

.index header .yellow-center {
  width: 45%;
  position: absolute;
  right: 0;
  bottom: -10rem;
  background-color: #fdfa69;
}

.index header .image-container {
  position: relative;
  right: 0;
  width: 92.5%;
  margin-left: 7.5%;
  margin-top: 8%;
  margin-bottom: 8%;
}

.index header img {
  width: 100%;
}

.index .what {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12.5rem 0;
}

.index .what .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.index .what p {
  margin-top: 2rem;
  width: 80%;
}

.index .what a {
  margin-top: 2rem;
}

.index .articles article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index .articles article .yellow,
.index .articles article .text {
  width: 45%;
}

.index .articles article .yellow,
.index .articles article .image-container {
  position: relative;
}

.index .articles article .yellow {
  background-color: #fdfa69;
}

.index .articles article .img-container,
.index .articles article img {
  width: 100%;
}

.index .articles article .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index .articles article p,
.index .articles article a {
  margin-top: 1.5rem;
}

.index .articles article:nth-of-type(even) {
  margin-top: 5rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.index .articles article:nth-of-type(even) .yellow {
  margin-right: 2rem;
}

.index .articles article:nth-of-type(even) .text h3,
.index .articles article:nth-of-type(even) .text a {
  text-align: right;
}

.index .articles article:nth-of-type(even) .text p,
.index .articles article:nth-of-type(even) .text h3 {
  margin-left: calc((100vw - var(--content-width)) / 2);
}

.index .articles article:nth-of-type(even) .image-container {
  position: relative;
  left: 2rem;
  bottom: 2rem;
}

.index .articles article:nth-of-type(odd) .yellow {
  margin-left: 2rem;
}

.index .articles article:nth-of-type(odd) .text p,
.index .articles article:nth-of-type(odd) .text h3 {
  margin-right: calc((100vw - var(--content-width)) / 2);
}

.index .articles article:nth-of-type(odd) .image-container {
  position: relative;
  right: 2rem;
  bottom: 2rem;
}

.index .featured .grid {
  margin: 5rem 0;
}

.index .featured .grid .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.index .featured .grid .grid-item {
  padding: 2rem 0;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index .featured .grid .icon {
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  padding: 1rem;
  background-color: #4ceea7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index .featured .grid i {
  font-size: 2rem;
}

.index .featured .grid h4 {
  margin: 0.5rem 0;
}

.index .featured .grid p {
  margin-top: 1rem;
}

.index .featured .banner {
  background-image: url("../../Assets/banner.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 50vh;
}

.index .featured .profile {
  padding: 5rem 0;
}

.index .featured .profile .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index .featured .profile .yellow {
  margin: 2.5rem;
  position: relative;
  background-color: #fdfa69;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.index .featured .profile .image-container {
  width: auto;
  position: relative;
  right: 2.5rem;
  bottom: 2.5rem;
}

.index .featured .profile img {
  width: auto;
}

.index .featured .profile .text {
  margin-left: calc((400px - 304px) + (200px / 2) - 5rem);
}

.index .featured .profile p {
  margin-top: 1.25rem;
}

.index .featured .profile button {
  margin-top: 3rem;
}

.index .featured .image-gallery {
  padding: 0 0 5rem 0;
}

.index .featured .image-gallery .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.index .featured .image-container {
  max-width: 400px;
}

.blog header {
  background-image: url("/Assets/blog-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 60vh;
}

.blog header .h2-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(40vw + 2rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.blog header h2 {
  -webkit-transform: translateY(-5.75rem);
          transform: translateY(-5.75rem);
}

.blog main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog main .about {
  margin-top: 10vh;
  width: 30%;
}

.blog main .about .image-container {
  width: 100%;
}

.blog main .about img {
  width: 100%;
}

.blog main .about .text {
  margin-left: calc((100vw - var(--content-width)) / 2);
  background-color: #fafafa;
  margin-top: 0;
}

.blog main .about .text-about,
.blog main .about .text-recent {
  padding-top: 2rem;
  margin: 0 0 4rem 0;
}

.blog main .about h4 {
  font-size: 1.25rem;
  margin: 0 0 2rem 0;
}

.blog main .about p,
.blog main .about em {
  display: inline;
}

.blog main .about li::before {
  content: "\2022";
  margin-right: 1rem;
  color: #4ceea7;
}

.blog main .blog-content {
  width: 60%;
  position: relative;
  top: -15vh;
}

.blog main .blog-content .yellow {
  width: calc(100% - 2rem);
  position: relative;
}

.blog main .blog-content .image-container {
  position: relative;
  bottom: 2rem;
  right: -2rem;
  width: 100%;
}

.blog main .blog-content img {
  width: calc(60vw - 2rem);
}

.blog main .post {
  border-left: solid 5px #fdfa69;
  border-bottom: solid 5px #fdfa69;
  margin-right: calc((100vw - var(--content-width)) / 2);
  padding: 2rem 0 0 2rem;
}

.blog main .post .body {
  margin: 2rem 0 1rem 0;
}

.blog main .comment {
  margin: 4rem 0;
  margin-right: calc((100vw - var(--content-width)) / 2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog main .comment .image-container {
  width: 10%;
  display: inline-block;
}

.blog main .comment .image-container img {
  width: 100%;
}

.blog main .comment .text-comment {
  width: 80%;
}

.blog main .comment .date {
  margin-bottom: 1rem;
}

.blog main .comments {
  margin-top: 2.5rem;
}

.blog main .comments h4 {
  margin-left: 2rem;
}

.blog main .comment-form {
  margin-left: 2rem;
  margin-right: calc((100vw - var(--content-width)) / 2);
}

.blog main .comment-form input,
.blog main .comment-form textarea {
  padding: 1rem;
}

.blog main .comment-form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blog main .comment-form input {
  border: none;
  border-bottom: 1px solid #4ceea7;
  width: 45%;
  margin: 1rem 0;
}

.blog main .comment-form textarea {
  width: 100%;
  border: 1px solid #4ceea7;
}

.blog main .comment-form a {
  width: 100%;
}

.blog main .comment-form button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem;
}

.contact header {
  background-image: url("/Assets/contact-header.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  height: 60vh;
}

.contact header .h2-flex {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: calc(40vw + 2rem);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.contact header h2 {
  -webkit-transform: translateY(-5.75rem);
          transform: translateY(-5.75rem);
}

.contact main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact main .social {
  margin-top: 10vh;
  width: 30%;
}

.contact main .social .icons {
  font-size: 1.25rem;
  width: 35%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1rem 0;
}

.contact main .social h4 {
  margin: 2rem 0;
}

.contact main .yellow {
  width: 60%;
  position: relative;
  top: -15vh;
}

.contact main form {
  padding: 2rem;
  position: relative;
  bottom: 2rem;
  right: -2rem;
  width: 100%;
  background-color: #fafafa;
}

.contact main form input,
.contact main form textarea {
  padding: 1rem;
}

.contact main form .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact main form input {
  border: none;
  border-bottom: 1px solid #4ceea7;
  width: 45%;
  margin: 1rem 0;
}

.contact main form textarea {
  width: 100%;
  border: 1px solid #4ceea7;
}

.contact main form a {
  width: 100%;
}

.contact main form button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.5rem;
}

body {
  color: var(--black);
  background: #effdf3;
}

.wrapper {
  width: var(--content-width);
  margin: 0 auto;
}

button {
  border: none;
}

nav a {
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.8rem;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
a,
button {
  font-family: "Playfair Display", sans-serif;
  text-transform: uppercase;
}

h3,
h4 {
  letter-spacing: 1px;
}

h1 {
  font-size: 8.625rem;
  text-align: center;
}

h2 {
  font-size: 5rem;
  line-height: 5.75rem;
}

h3 {
  font-size: 2.65rem;
}

h4 {
  font-size: 2rem;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #2c2c2c;
}

a button {
  padding: 1rem 2rem;
  background-color: #4ceea7;
  font-size: 1.25rem;
  line-height: 1.8rem;
  letter-spacing: 1px;
  font-family: "Playfair Display", sans-serif;
}

.current {
  border-bottom: 3px solid #4ceea7;
}

.image-container {
  width: 100%;
}

img {
  width: 100%;
}

.yellow {
  background-color: #fdfa69;
}

header nav {
  width: 100%;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header nav li {
  margin: 2rem 1rem;
}

header nav a {
  padding: 0.15rem;
}

footer {
  background: black;
  width: 100%;
  color: white;
  text-align: center;
  padding: 0.75rem 0;
}

@media only screen and (max-width: 1439px) {
  :root {
    --content-width: 1280px;
  }
}

@media only screen and (max-width: 1299px) {
  :root {
    --content-width: 1100px;
  }
  .index header {
    background-position: 35%;
  }
  .index header .yellow-center {
    width: 40%;
    bottom: -7.5rem;
  }
}

@media only screen and (max-width: 1167px) {
  :root {
    --content-width: 978px;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --content-width: 768px;
  }
  .index header .yellow-center {
    width: 40%;
    bottom: -7.5rem;
  }
  .index .what {
    padding: 9rem 0;
  }
  .index .articles article:nth-of-type(even) .yellow,
  .index .articles article:nth-of-type(odd) .yellow {
    display: inline-block;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .index .featured .grid .grid-item {
    width: 100%;
  }
  .index .featured .profile .text {
    margin-left: 0rem;
  }
  .index .featured .image-gallery .wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .index .featured .image-gallery .image-container {
    width: 45%;
    margin: 1rem 0;
  }
  .index .featured .image-gallery .image-container:nth-of-type(3) {
    width: 100%;
    max-width: 100vw;
  }
  h1 {
    font-size: 7.5rem;
    text-align: center;
  }
  h2 {
    font-size: 4rem;
    line-height: 5.75rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.65rem;
  }
  p {
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    --content-width: 720px;
  }
  .contact header .h2-flex,
  .blog header .h2-flex {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    width: 100%;
  }
  .contact header {
    height: 30vh;
  }
  .contact main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact main .wrapper .yellow {
    width: 100%;
    top: 0;
  }
  .contact main .wrapper .social {
    margin: 4rem 0;
    width: 100%;
    text-align: center;
  }
  .contact main .wrapper .social .icons {
    margin-bottom: 2rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
}

@media only screen and (max-width: 760px) {
  :root {
    --content-width: 500px;
  }
  header nav ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .index header {
    background: #effdf3;
    height: 20vh;
  }
  .index header h1 {
    position: static;
    margin-top: 2rem;
  }
  .index header .yellow-center {
    display: none;
  }
  .index .what .wrapper {
    text-align: center;
  }
  .index .articles article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index .articles article .yellow {
    width: 100%;
    background-color: inherit;
  }
  .index .articles article .text {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .index .articles article:nth-of-type(even) .text h3,
  .index .articles article:nth-of-type(even) .text p,
  .index .articles article:nth-of-type(odd) .text h3,
  .index .articles article:nth-of-type(odd) .text p {
    margin-right: 0;
    margin-left: 0;
  }
  .index .articles article:nth-of-type(odd) .yellow {
    margin-left: 0;
    margin-right: 0;
  }
  .index .articles article:nth-of-type(odd) .image-container {
    position: static;
  }
  .index .articles article:nth-of-type(odd) h3 {
    margin-top: 2rem;
  }
  .index .articles article:nth-of-type(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .index .articles article:nth-of-type(even) .yellow {
    margin-left: 0;
    margin-right: 0;
  }
  .index .articles article:nth-of-type(even) .image-container {
    position: static;
  }
  .index .articles article:nth-of-type(even) h3 {
    margin-top: 2rem;
  }
  .index .articles article:nth-of-type(even) .text h3,
  .index .articles article:nth-of-type(even) .text p,
  .index .articles article:nth-of-type(even) .text a {
    text-align: center;
  }
  .featured .profile .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .featured .profile .wrapper .yellow {
    background-color: inherit;
  }
  .featured .profile .wrapper .yellow .image-container {
    position: static;
    margin: 1rem auto;
  }
  .featured .profile .wrapper img {
    width: 100%;
  }
  .blog main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog main .comment,
  .blog main .comment-form {
    margin-right: 0;
    margin: 4rem auto;
    width: 90%;
  }
  .blog main .about,
  .blog main .blog-content {
    width: 100%;
  }
  .blog main .post {
    margin-right: 1rem;
  }
  .blog main .blog-content {
    top: 0;
  }
  .blog main .blog-content .yellow {
    margin: 0 auto;
    width: 100%;
    background-color: inherit;
  }
  .blog main .blog-content .yellow .image-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
    position: static;
    width: 100%;
  }
  h1 {
    font-size: 6rem;
    text-align: center;
  }
  h2 {
    font-size: 3.5rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.65rem;
  }
  p {
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 550px) {
  .index .image-gallery .wrapper .image-container {
    width: 100%;
    max-width: 100vw;
  }
  .index .featured .grid .grid-item {
    width: 90%;
  }
  .blog main .about .text {
    width: 90%;
    margin: auto;
  }
  .blog main .comment {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog main .comment .image-container {
    width: 80%;
    position: static;
  }
  h1 {
    font-size: 4rem;
    text-align: center;
  }
  h2 {
    font-size: 3rem;
    line-height: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.65rem;
  }
  p {
    line-height: 1.5rem;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --content-width: 400px;
  }
  header nav ul {
    margin: 0 auto;
  }
  header nav ul a {
    padding: 0;
  }
  header nav ul li {
    margin: 2rem 0.5rem;
  }
  .contact main form {
    position: static;
  }
  .contact main form .info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact main form input {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  :root {
    --content-width: 320px;
  }
  header nav ul {
    margin: 0 auto;
  }
  header nav ul a {
    padding: 0;
    font-size: 1.15rem;
  }
  header nav ul li {
    margin: 2rem 0.25rem;
  }
  h1 {
    font-size: 3rem;
    text-align: center;
  }
  h2 {
    font-size: 2.5rem;
    line-height: 2rem;
    margin-top: 2rem;
  }
}
